.search-result-wrap {
	margin-bottom: 20px;
}

.search-result-title {
	font-size: large;
}

.search-result-url {
	color: green;
	font-size:small;
}

.search-result-preview {
	font-size:small;
}

.browse-icon {
	width: 24px;
	text-align:center;
	padding: 0 !important;
}